@media screen and (min-width: 768px) {
	.p21-flareo-wrapper {
		display: grid;
		grid-template-columns: 8fr 3fr;
		column-gap: 40px;
	}

	body.p21-flareo-flare_page_p21-flareo-settings .wrap {
		margin: 0;
		padding: 20px 30px 30px;
	}
}

body.p21-flareo-flare_page_p21-flareo-settings #wpcontent {
	padding: 0;
}

body.p21-flareo-flare_page_p21-flareo-settings .wrap {
	margin: 0;
	padding: 40px 60px 60px;
}

.p21-flareo .header-hero {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 30px;
}

.p21-flareo .header-hero .plugin-version {
	background: #E2E4E7;
	color: #3C434A;
	font-size: 14px;
	font-weight: 600;
	padding: 4px 8px;
	border-radius: 4px;

}

.p21-flareo .menu-title {
	margin-bottom: 0;
	font-weight: 600;
	font-size: 30px;
	line-height: 1.2;
	padding-top: 0;
}

.p21-flareo-wrapper > form {
	background: #fff;
	border-radius: 8px;
}

.p21-flareo-wrapper > form .tab-content {
	padding: 30px;
}

.p21-flareo-wrapper .p21-flareo-nav-tab-wrapper {
	border-bottom: 1px solid #E2E2E4;
	padding: 0;
}
.p21-flareo-nav-tab-wrapper .p21-flareo-nav-tab {
	padding: 16px 24px;
	display: inline-block;
	text-decoration: none;
	color: #646970;
	font-size: 16px;
	line-height: 1.4;
}
.p21-flareo-nav-tab-wrapper .p21-flareo-nav-tab-active {
	border-bottom: 2px solid #212529;
	color: #212529;
}

.p21-flareo-nav-tab-wrapper .p21-flareo-nav-tab:hover,
.p21-flareo-nav-tab-wrapper .p21-flareo-nav-tab:active,
.p21-flareo-nav-tab-wrapper .p21-flareo-nav-tab:focus {
	color: #212529;
	outline: none;
	box-shadow: none;
}

.p21-flareo .tab-content .title {
	color: #3C434A;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.3;
}

.p21-flareo .tab-content .titledesc {
	color: #3C434A;
}

.p21-flareo .forminp .description {
	display: block;
	margin-top: 10px;
}

.p21-flareo .forminp-button {
	padding: 15px 10px;
	display: flex;
	gap: 10px;
	align-items: center;
}


.p21-flareo .forminp-button .description {
	margin-top: 0;
}

.p21-flareo .collapsible {
	border: none;
	border-top: 1px solid #e2e4e7;
	border-bottom: 1px solid #e2e4e7;
	background-color: #fff;
	padding: 15px;
	outline: none;
	width: 100%;
	font-weight: 600;
	text-align: left;
	box-shadow: none;
	cursor: pointer;
}

.p21-flareo .collapsible:after, .p21-flareo .collapsible.active:after {
	font-family: 'Dashicons';
	font-size: 20px;
	color: #000;
	float: right;
	margin-left: 5px;
}

.p21-flareo .collapsible:after {
	content: "\f140";
}

.p21-flareo .collapsible.active:after {
	content: "\f142";
}

.p21-flareo .collapsible.active, .p21-flareo .collapsible:hover {
	background-color: #fff;
}

.p21-flareo .collapsible-content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.p21-flareo .p21-flareo-enhanced-select {
	min-width: 150px;
}

.p21-flareo .forminp-multi-checkbox {
	padding: 0 !important;
}

.p21-flareo .forminp-multi-checkbox fieldset > ul {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, 320px);
}

.p21-flareo .forminp-multi-checkbox fieldset > ul li {
	margin-bottom: 0;
}

.p21-flareo .forminp-multi-checkbox fieldset > ul label {
	display: flex;
	align-items: center;
	gap: 6px;
}

.p21-flareo .forminp-multi-checkbox fieldset > ul label p {
	line-height: 1;
	margin: 0;
}

.p21-flareo .forminp-color {
	display: flex;
	align-items: center;
	gap: 10px;
}

.p21-flareo .forminp-color .wp-picker-container {
	position: relative;
}

.p21-flareo .forminp-color .wp-picker-container .wp-color-result {
	margin-bottom: 0;
}

.p21-flareo .forminp-color .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
	display: inline-flex;
	align-items: center;
	gap: 4px;
}

.p21-flareo .forminp-color .wp-picker-container.wp-picker-active .wp-picker-holder {
	position: absolute;
	top: 40px;
	z-index: 999;
}

.p21-flareo .forminp-color p {
	margin: 0;
}

.p21-flareo input[type="number"] {
	max-width: 60px;
	margin-right: 8px;
	width: 100%;
	padding-right: 0;
}

/**
 * Sidebar
 */
.p21-flareo .sidebar .plugin-banner,
.p21-flareo .sidebar .promo,
.p21-flareo .sidebar .upgrade-box {
	background: #fff;
	border-radius: 8px;
	padding: 30px 30px 25px;
	margin-bottom: 30px;
}

.p21-flareo .sidebar .plugin-banner .header,
.p21-flareo .sidebar .plugin-banner .header .brand  {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	justify-items: center;
	align-items: center;
}

.p21-flareo .sidebar .plugin-banner .header {
	margin-bottom: 20px;
}

.p21-flareo .sidebar .plugin-banner .header .brand h4 {
	font-size: 18px;
	line-height: 1.4;
	margin: 0;
}

.p21-flareo .sidebar .plugin-banner .header .brand .version {
	margin: 0;
}

.p21-flareo .sidebar .plugin-banner .feature-list li {
	padding: 16px 0;
	border-top: 1px solid #E2E2E4;
}

.p21-flareo .sidebar .social {
	display: flex;
	gap: 15px;
}

.p21-flareo .sidebar .logo-container {
	box-shadow: none;
	outline: none;
}

.p21-flareo .sidebar .logo-container svg {
	max-width: 120px;
	height: auto;
}

.p21-flareo .upgrade-box li {
	list-style: disc;
	font-size: 1.1em;
}

.p21-flareo .upgrade-box h3 {
	line-height: 1.4em;
}

.p21-flareo .upgrade-box .regular-text {
	width: 100%;
	margin-bottom: 8px;
}

.p21-flareo .upgrade-box + .promo {
	margin-top: 30px;
}

.p21-flareo .sidebar .form-newsletter input {
	width: 100%;
}

.p21-flareo .sidebar .form-newsletter .p21-flareo-button {
	margin-top: 10px;
}

.p21-flareo .sidebar .social > a {
	text-decoration: none;
}

.p21-flareo-save-button.button-primary {
	background: #0073AA;
	padding: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
}

.p21-flareo .forminp-multiselect > * {
	display: block;
	margin-bottom: 8px;
}

.p21-flareo .forminp-multiselect select {
	width: 100%;
	max-width: 400px;
}

.p21-flareo .forminp-multiselect .select2-container {
	width: auto !important;
}

/**
 * Notices
 */
.p21-flareo .notice-success,
.p21-flareo div.updated {
	border: none;
	border-left: solid 4px #0073AA;
	border-radius: 4px;
	background: #CCEEFF;
	box-shadow: none;
	color: #0073AA;
}

/**
 * Form
 */
.p21-flareo .form-table td {
	padding: 15px 0 !important;
}

.p21-flareo .form-table th + td {
	padding: 15px 10px;
}

.p21-flareo .forminp-radio ul {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, 320px);
}

.p21-flareo .forminp-media-image {
	display: flex;
	gap: 15px;
	align-items: center;
}

.p21-flareo .forminp-media-image .media-image {
	height: auto;
	width: 120px;
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
	border: 1px solid #E0E0E0;
}

.p21-flareo .forminp-action-button .description {
	margin-top: 0;
	margin-bottom: 10px;
}

.p21-flareo .forminp-media-image .p21-flareo-remove-image-btn {
	margin-left: 10px;
}

.p21-flareo.import-export .tab-content .submit,
.p21-flareo.tools .tab-content .submit,
.p21-flareo.version-control .tab-content .submit {
	display: none;
}

.p21-flareo.import-export .forminp-import-templates .description,
.p21-flareo.import-export .forminp-export-templates .description {
	margin-top: 0;
	margin-bottom: 10px;
}

.p21-flareo .forminp-action-button #update_outdated_templates:before {
	font: normal 20px / 0.5 dashicons;
	speak: none;
	display: inline-block;
	padding: 0;
	inset-block-start: 8px;
	inset-inline-start: -4px;
	position: relative;
	vertical-align: top;
	content: "\f463";
}

.p21-flareo .forminp-action-button #update_outdated_templates.loading:before {
	animation: spinner-rotation 1s infinite linear;
}

.p21-flareo .forminp-action-button #update_outdated_templates.success:before {
	content: "\f147";
  color: #46b450;
}
.p21-flareo .forminp.forminp-text input[name$="_api_key"] {
	width: 100%;
	max-width: 400px;
}


/**
 * Rollback styles.
 */
.p21-flareo #p21_flareo_plugin_rollback_version-description + .form-table tbody {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 10px;
}

.p21-flareo #p21_flareo_plugin_rollback_version-description + .form-table .forminp-button {
	padding: 15px 0;
}

.p21-flareo #p21_flareo_plugin_rollback_version-description + .form-table .forminp.forminp-select label {
	margin-right: 20px;
}

/**
 * Animation
 */
@keyframes spinner-rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}